In [4]:
import pandas as pd

In [10]:
rawsettlementdata = pd.read_csv('/Users/julieagwu/Library/Mobile Documents/com~apple~CloudDocs/GB Power Market/Settlement Data/data/rawsettlement.csv')

In [11]:
rawsettlementdata.head()

,SettlementDate,SettlementPeriod,StartTime,CreatedDateTime,SystemSellPrice,SystemBuyPrice,BsadDefaulted,PriceDerivationCode,ReserveScarcityPrice,NetImbalanceVolume,...,ReplacementPrice,ReplacementPriceReferenceVolume,TotalAcceptedOfferVolume,TotalAcceptedBidVolume,TotalAdjustmentSellVolume,TotalAdjustmentBuyVolume,TotalSystemTaggedAcceptedOfferVolume,TotalSystemTaggedAcceptedBidVolume,TotalSystemTaggedAdjustmentSellVolume,TotalSystemTaggedAdjustmentBuyVolume
0,2024-09-09,3,2024-09-09T00:00:00Z,2024-09-10T00:44:18Z,45.32,45.32,False,N,0.0,-140.641667,...,NaN,NaN,1148.0,-1051.141667,-350.0,112.5,1148.0,-1051.141667,-349.0,112.5
1,2024-09-09,4,2024-09-09T00:30:00Z,2024-09-10T01:14:22Z,60.12,60.12,False,N,0.0,-5.233333,...,NaN,NaN,1148.0,-915.741667,-350.0,112.5,1148.0,-915.741667,-349.0,112.5
2,2024-09-09,5,2024-09-09T01:00:00Z,2024-09-10T01:44:20Z,102.50,102.50,False,P,0.0,19.522222,...,NaN,NaN,1148.0,-940.977778,-300.0,112.5,1147.0,-940.977778,-300.0,112.5
3,2024-09-09,6,2024-09-09T01:30:00Z,2024-09-10T02:14:30Z,49.44,49.44,False,N,0.0,-87.358333,...,NaN,NaN,1148.0,-1047.897222,-300.0,112.5,1148.0,-1047.897222,-299.0,112.5
4,2024-09-09,7,2024-09-09T02:00:00Z,2024-09-10T02:44:17Z,104.00,104.00,False,P,0.0,263.658333,...,NaN,NaN,1148.0,-997.175000,0.0,112.5,1147.0,-997.175000,NaN,112.5

In [12]:
rawsettlementdata.columns

Index(['SettlementDate', 'SettlementPeriod', 'StartTime', 'CreatedDateTime',
       'SystemSellPrice', 'SystemBuyPrice', 'BsadDefaulted',
       'PriceDerivationCode', 'ReserveScarcityPrice', 'NetImbalanceVolume',
       'SellPriceAdjustment', 'BuyPriceAdjustment', 'ReplacementPrice',
       'ReplacementPriceReferenceVolume', 'TotalAcceptedOfferVolume',
       'TotalAcceptedBidVolume', 'TotalAdjustmentSellVolume',
       'TotalAdjustmentBuyVolume', 'TotalSystemTaggedAcceptedOfferVolume',
       'TotalSystemTaggedAcceptedBidVolume',
       'TotalSystemTaggedAdjustmentSellVolume',
       'TotalSystemTaggedAdjustmentBuyVolume'],
      dtype='object')

In [14]:
#only keep these columns except for StartTime, SystemBuyPrice, NetImbalanceVolume
#drop all columns from rawsettlementdata except StartTime, SystemBuyPrice, NetImbalanceVolume
rawsettlementdata.drop(rawsettlementdata.columns.difference(['StartTime', 'SystemBuyPrice', 'NetImbalanceVolume']), axis=1, inplace=True)
rawsettlementdata.head()

              StartTime  SystemBuyPrice  NetImbalanceVolume
0  2024-09-09T00:00:00Z           45.32         -140.641667
1  2024-09-09T00:30:00Z           60.12           -5.233333
2  2024-09-09T01:00:00Z          102.50           19.522222
3  2024-09-09T01:30:00Z           49.44          -87.358333
4  2024-09-09T02:00:00Z          104.00          263.658333

In [15]:
#info() method is used to get a concise summary of the dataframe
rawsettlementdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   StartTime           49 non-null     object
 1   SystemBuyPrice      49 non-null     float64
 2   NetImbalanceVolume  49 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.3+ KB

In [16]:
#changing the data type of StartTime to datetime
rawsettlementdata['StartTime'] = pd.to_datetime(rawsettlementdata['StartTime'])

In [17]:
#split the StartTime column into two columns: Date and Time, then delete original StartTime column
rawsettlementdata['Date'] = rawsettlementdata['StartTime'].dt.date
rawsettlementdata['Time'] = rawsettlementdata['StartTime'].dt.time
rawsettlementdata.drop('StartTime', axis=1, inplace=True)

In [18]:
rawsettlementdata.head()

   SystemBuyPrice  NetImbalanceVolume        Date      Time
0           45.32         -140.641667  2024-09-09  00:00:00
1           60.12           -5.233333  2024-09-09  00:30:00
2          102.50           19.522222  2024-09-09  01:00:00
3           49.44          -87.358333  2024-09-09  01:30:00
4          104.00          263.658333  2024-09-09  02:00:00

In [25]:
#In the Time column, the seconds are not needed, so we will remove them
#this code will remove the seconds from the Time column by converting the Time column to a string, then splitting the string at the colon, then joining the first two elements of the split string with a colon

rawsettlementdata['Time'] = rawsettlementdata['Time'].astype(str).str.split(':').str[0:2].str.join(':')

In [27]:
rawsettlementdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                49 non-null     object
 1   Time                49 non-null     object
 2   SystemBuyPrice      49 non-null     float64
 3   NetImbalanceVolume  49 non-null     float64
dtypes: float64(2), object(2)
memory usage: 1.7+ KB

In [28]:
# make the time colume a hh:mm time datatype
rawsettlementdata['Time'] = pd.to_datetime(rawsettlementdata['Time'], format='%H:%M').dt.time

In [30]:
rawsettlementdata.head()

   SystemBuyPrice  NetImbalanceVolume        Date      Time
0           45.32         -140.641667  2024-09-09  00:00:00
1           60.12           -5.233333  2024-09-09  00:30:00
2          102.50           19.522222  2024-09-09  01:00:00
3           49.44          -87.358333  2024-09-09  01:30:00
4          104.00          263.658333  2024-09-09  02:00:00

In [33]:
rawsettlementdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SystemBuyPrice      49 non-null     float64
 1   NetImbalanceVolume  49 non-null     float64
 2   Date                49 non-null     object
 3   Time                49 non-null     object
dtypes: float64(2), object(2)
memory usage: 1.7+ KB

In [36]:
# save cleaned data to a new csv file for statistical   analysis
rawsettlementdata.to_csv('/Users/julieagwu/Library/Mobile Documents/com~apple~CloudDocs/GB Power Market/Settlement Data/data/cleanedsettlement.csv', index=False)